
/* HOMEWORK 5 */

body {
    background-image: url(../images/triviabackground.jpg);
}

#wrapper {
    background-color: yellow;
    height: 100%;
}

_#quiz-area.startButton, #quiz-area.doneButton {
    width: 350px;
    /* padding: 25px 25px 25px 25px; */
    /* margin:0 auto; */
} 

/* .btn {
    width: 350px;
    margin:0 auto;
    /* margin: 10px 10px;  */
/* } */ 


input[type="radio"]{
    margin: 5 10px 5 10px;
  }

  #showTimer {
font-size: 30px;
  }

  /* .radio-label-vertical-wrapper {
    padding-bottom: 13px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  } */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
